body{
    background:linear-gradient(lime,cyan);
    color:blueviolet;
    font-family: 'Caveat', cursive;
    font-size: 25px;
}
#butt1,#butt2{
    background-color:rgb(47, 168, 255);
    font-family: 'Caveat', cursive;
    font-size: 20px;
}
#hbutt1{
    background-color: white;
}
#dbutt1,#dbutt2{
    border-radius: 20px;
    box-shadow: 5px 5px 30px blue;
    width: 350px;
    height: 350px;
}